body {
    background-color: rgb(200,200,200);
}
h1 {
    background-color: darkcyan;
}
p {
    background-color: #ee3e80;
    padding: 10pt;
    height: 225px;
    width: 500px;
    margin: 10px auto 10px auto;
}
ul{
    margin: 0px auto 0px auto;
    text-align: center;
    width: 600px;
    height: 50px;
}
#navigation {
    padding: 15px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
li{
    display: inline;
}