#showcase {
    text-align: center; 
    padding: 10pt;
}
a:hover {background-color: #ee3e80}
#navigation {
    padding: 15px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
h1 {
    background-color: darkcyan;
}
body {
    background-color: rgb(200,200,200);
}
ul{
    margin: 0px auto 0px auto;
    text-align: center;
    width: 600px;
    height: 50px;
}
li{
    display: inline;
}